#cont{
    display: none;  
} 
button{
   width: 90px;
   height: 40px;
   border: 50px solid black;
}
#but{
   display: none;
}
.contant img{
   width: 100px;
   height: 50px;
}
#girl{
   display: none;
}
#gp{
   display: none;
}
.gp img{
   width: 100px;
   height: 50px;
}
#fa{
   display: block;
} 
/* #remark{
   display: block;
}  */
#Truck{
   display: none;
} 
#bike{
   display: none;
}
